body {
  background: linear-gradient(#0aafff2b, #00acff94);
}

.nav-link {
  font-size: 20px !important;
}

#main-title {
  font-size: 22px;
}

.form-label {
  font-size: 20px;
}

#sub-btn {
  display: block;
  margin: auto;
  font-size: 20px;
  width: 42%;
}

.container {
  width: 65%;
}

.notes {
  text-align: justify;
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
}

.prevention {
  background-color: #52d3e833;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
  margin-right: 8px;
  margin-left: 8px;
}

.alert {
  font-size: 25px;
}

.result {
  height: 72vh;
}

#date {
  background-color: black;
  color: #8ddaff;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px !important;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .form-select {
    width: 80% !important;
  }
}

.form-select {
  margin: auto;
  text-align: center;
  width: 50%;
}