<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">

    <title>{% block title %} {% endblock title %} - Lung Cancer Predictor</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          id="main-title"
          href="/"
          style="padding-left: 0.5rem"
          >Lung Cancer Predictor</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav" style="padding-right: 0">
            <li class="nav-item">
              <a class="nav-link {{home}}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{about}}" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="date"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="preventions">
      <marquee class="prevention my-2" scrollamount="8">
        <h3>
          <span>&bull;&nbsp;Stop Smoking</span>
          <span>&bull;&nbsp;Avoid Secondhand Smoke</span>
          <span>&bull;&nbsp;Test your home for radon</span>
          <span>&bull;&nbsp;Avoid carcinogens at work</span>
          <span>&bull;&nbsp;Eat a diet full of fruits and vegetables</span>
          <span>&bull;&nbsp;Exercise most days of the week</span>
        </h3>
      </marquee>
    </div>

    {% block common %} {% endblock common %}

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- External JS -->
    <script src="/static/js/date.js"></script>
  </body>
</html>
